.plan{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    width: 240px;
    height: 389px;
    background-color: #FFFFFF;
    border: #EBE9E9 1px;
    border-radius: 30px;
}

.plan-button button{
    width: 225px;
    height: 34px;
    border-radius: 6px;
}
.plan-title{
    width: 100%;
    height: 74px;
    border-radius: 30px 30px 0px 0px;
    text-align: center;
}
.plan-title h2{
    font-size: 15px;
    font-weight: 700;    
}
.plan-sections h3{
    font-size: 12px;
    font-weight: 400;
    color: #8790A3;
}

