.cel{
    display: flex;
    justify-content: space-evenly;
}
.CellPhones {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 502px;
}
.CellPhones img {
  border-radius: 30px;
  height: 479px;
  width: 221px;
}
.PlanosSection{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
  background-color: #F4F2F2;
}
.PlanosSection h2{
  font-size: 28px;
  font-weight: 400;
  margin-top: 24px;
}

.plans {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: space-around;
  max-width: 100%;
}
